*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #2f2f2f;
  overflow-x: hidden;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  width: 100%;
}

/* Navbar styling */
nav {
  width: 100%;
  display: flex;
  padding: 10px 40px;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 600;
}
.hover-animation:hover {
  border-bottom: 2px solid blue;
}
nav svg {
  margin: 10px;
}
.icons {
  display: flex;
}
.icons > a {
  display: grid;
  place-items: center;
}
.icons a > svg path {
  fill: #2f2f2f;
}
.icons a:hover > svg path {
  fill: #4777e6;
}

/* Hero section */
section {
  padding: 0 40px;
}

.hero {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #2f2f2f;
}

.hero h1 {
  margin: 1rem 0;
  font-size: 5rem;
  background: #4776e6;
  background: linear-gradient(to top, #4776e6 0%, #8e54e9 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.description {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
}

.description p {
  font-weight: 600;
  color: #968fb2;
}

.CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.CTA button {
  margin: 0 10px;
}

.btn {
  background: #4777e6;
  -webkit-border-radiup: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgb(45 35 66 / 35%), 0 7px 13px -3px rgb(45 35 66 / 25%);
  font-family: "Poppins";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  transition: 300ms;
}

.btn a {
  color: #ffffff;
  text-decoration: none;
}

.btn:hover {
  background: #5584eb;
  text-decoration: none;
}

.btn-outline {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  color: #333;
  background: transparent;
  border-radius: 6px;
  font-family: Arial;
  box-shadow: 0 2px 4px rgb(45 35 66 / 35%), 0 7px 13px -3px rgb(45 35 66 / 25%);
  font-size: 18px;
  padding: 8px 20px;
  border: solid #4777e6 3px;
  text-decoration: none;
  transition: 300ms;
}

.btn-outline:hover {
  background: #3c6ed9;
  text-decoration: none;
  color: #ffffff;
}

/* skill section */
.skill {
  margin-bottom: 10vh;
}

.skills {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
}
.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  /* background-color: red; */
}
.skillsContainer li {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  row-gap: 10px;
  width: 1rem;
  padding: 1rem 3rem;
  transition: transform 400ms ease-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.skillsContainer li:hover {
  transform: scale(1.08);
  transition: transform 0.6s ease-out;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0px rgba(50, 50, 50, 0.212);
  /* border: 2px solid gray; */
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.projectText {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 4rem;
}

.watermark {
  position: absolute;
  top: 200px;
  left: -90px;
  transform: rotate(-90deg);
  color: #666666;
  font-size: 6rem;
  opacity: 0.2;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  z-index: 5;
  gap: 3rem;
  margin-bottom: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  min-height: 28.12rem;
  background-color: #110d1d;
  padding: 1.2rem;
  border-radius: 0.8rem;
  /* text-align: center; */
}
.imageContainer {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  /* background-color: #136b7e; */
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* height: 100%; */
}
.project-details {
  padding: 0.4rem 0;
}
.project-details h2 {
  color: rgb(222, 222, 222);
  font-weight: 600;
  margin: 0.5rem 0;
}
.project-details p {
  color: #938f9f;
  font-weight: 400;
  font-size: 0.9rem;
}
.project-links {
  padding: 0.5rem 0;
  display: flex;
  /* flex-direction: column; */
  column-gap: 0.5rem;
}
.project-links a {
  display: flex;
  gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #0f0c1b;
  padding: 0.5rem 1.2rem;
  font-size: 16px;
  color: #7e7b87;
  border-radius: 8px;
  border: 1px solid #1c1829;
}

/* CONTACT */
.contact-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.contact-container {
  min-height: 50vh;
  display: flex;
  width: 60vw;
  background: #d4e2ff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgb(45 35 66 / 35%), 0 7px 13px -3px rgb(45 35 66 / 25%);
}

.contact-info {
  color: #fff;
  background: #4776ee;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

.contact-info-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-info-text {
  position: relative;
}

.contact-info-text::before {
  content: "";
  position: absolute;
  top: -16px;
  height: 8px;
  width: 100px;
  border-radius: 8px;
  background: #0ed4ff;
}

.contact-info-heading {
  font-size: 2rem;
  color: #fff;
}

.contact-info-icons {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 0.8rem;
}

.contact-icons {
  width: 28px;
  cursor: pointer;
  transition: 300ms;
}

.contact-icons:hover {
  transform: scale(1.2);
}

.contact-form {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-name,
.contact-email,
.contact-message {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-label {
  font-size: 1rem;
}

.contact-input {
  width: 100%;
  background: #ffffffaa;
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #00000055;
}

.contact-input:focus {
  border: 1px solid #00000000;
  outline: 2px solid #4776ee;
}

textarea {
  resize: vertical;
}

.contact-submit {
  margin-top: 0.5rem;
  background: #4776ee;
  color: #fff;
  border: none;
  padding: 8px;
  font-size: 1rem;
  font-weight: normal;
  width: 200px;
  align-self: right;
  border-radius: 4px;
  transition: 300ms;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.contact-submit:hover {
  background: #4776eeee;
  transform: scale(0.95);
}

.contact-send-icon {
  transform: rotate(45deg);
}

input::placeholder,
textarea::placeholder {
  color: #000000aa;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  text-align: center;
  z-index: 101;
  position: relative;
  padding: 2rem;
  background-color: #0d1117;
}

footer a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 1.25rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

.social a {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.social a:hover > svg path {
  fill: #3c6ed9;
  transition: all 300ms ease-in-out;
}

footer ul {
  list-style-type: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

footer li > a {
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

footer a:hover {
  color: rgb(158, 158, 158);
}

.currentYear {
  /* border-top: 1px solid rgb(70, 70, 70); */
  padding: 10px 0;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(95, 95, 95);
}

/*  MEDIA QUERIES */
@media screen and (max-width: 1110px) {
  .hero,
  .hero h3 {
    text-align: center;
  }
  .project-cards {
    gap: 2rem;
  }
  .contact-container {
    min-width: 70vw;
  }
}

@media screen and (max-width: 768px) {
  .CTA {
    flex-direction: column;
    gap: 30px;
  }

  .hero {
    text-align: center;
  }

  .project-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 4rem;
  }

  /* .project-card {
    width: 420px;
  } */

  .contact-page {
    min-height: 90vh;
    margin-bottom: 20vh;
  }

  .contact-container {
    width: 80vw;
    min-height: 40vh;
    flex-direction: column;
  }

  .contact-info {
    gap: 2rem;
    padding: 2rem;
  }

  .contact-form {
    padding: 2.5rem 2rem;
  }

  .contact-info-icons {
    margin-bottom: 0;
  }

  .contact-info-content {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 430px) {
  section {
    padding: 0 10px;
  }
  nav {
    padding: 10px 10px;
  }

  nav > ul {
    display: none;
  }

  .hero {
    min-height: 70vh;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h3 {
    font-size: 1.2rem;
  }

  .description p {
    font-size: 0.8rem;
  }

  .CTA {
    padding: 1.5rem;
  }

  .skills,
  .projectText {
    font-size: 2.5rem;
  }

  .chips-container {
    margin: 2vh 5vw 5vh;
    gap: 0.5rem;
  }

  .chips {
    padding: 10px;
    font-size: 0.8rem;
  }

  .project-card {
    /* width: 300px; */
    max-height: 20rem;
    border-radius: 8px;
  }
  .project-card > img {
    border-radius: 8px;
  }

  .links {
    display: none;
  }

  footer {
    gap: 1rem;
  }

  .currentYear {
    font-size: 0.9rem;
  }

  .watermark {
    left: -140px;
    font-size: 4rem;
  }
}
