*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #2f2f2f;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
header {
  display: flex;
  width: 100%;
}
/* Navbar styling */
nav {
  width: 100%;
  display: flex;
  padding: 10px 40px;
  align-items: center;
  justify-content: space-between;
}
nav > ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
nav a {
  text-decoration: none;
  color: #2f2f2f;
}
nav svg {
  margin: 10px;
}
.hover-animation:hover {
  color: #4777e6;
  transition: all ease 0.3s;
}
/* Hero section */
section {
  padding: 0 40px;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-weight: 600;
  color: #2f2f2f;
}
.hero h1 {
  margin: -15px 0;
  padding: 0;
  font-size: 5rem;
  background: #4776e6;
  background: linear-gradient(to top, #4776e6 0%, #8e54e9 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  display: flex;
  flex-direction: row-reverse;
}
.description p {
  margin: 0 1rem;
  font-weight: 600;
  color: #968fb2;
}
.CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.CTA button {
  margin: 0 10px;
}
.btn {
  background: #4777e6;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgb(45 35 66 / 35%), 0 7px 13px -3px rgb(45 35 66 / 25%);
  font-family: "Poppins";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}
.btn a {
  color: #ffffff;
}
.btn:hover {
  background: #5584eb;
  text-decoration: none;
}
.btn-outline {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  box-shadow: 0 2px 4px rgb(45 35 66 / 35%), 0 7px 13px -3px rgb(45 35 66 / 25%);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #4777e6 3px;
  text-decoration: none;
}

.btn-outline:hover {
  background: #3c6ed9;
  text-decoration: none;
  color: #ffffff;
}
/* Project section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
.projectText {
  font-size: 3rem;
}
.watermark {
  position: absolute;
  top: 200px;
  left: 0;
  transform: rotate(-90deg);
  color: #666666;
  font-size: 6rem;
  opacity: 0.2;
}
.project-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  /* gap: 20px; */
  margin-top: 20px;
  z-index: 100;
}
.project-card {
  margin: 20px;
  width: 500px;
  height: 350px;
  box-shadow: 0 2px 4px rgb(45 35 66 / 35%), 0 7px 13px -3px rgb(45 35 66 / 25%);
  border-radius: 18px;
  transition: all 0.5s ease-in-out;
}
.project-card:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}
.project-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

/* FOOTER */
.footer {
  background: #66666610;
  bottom: 0 !important;
  position: relative;
}

.footer-nav {
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  text-align: left;
  padding-top: 3rem !important;
  padding-left: 10rem !important;
  bottom: 0 !important;
  border: none !important;
}

.bottom-social {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 4rem !important;
  margin: 0 !important;
  bottom: 0 !important;
}

.social-icons ul {
  padding-left: 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  width: 89%;
  align-items: center;
  justify-content: space-between;
  height: 3rem !important;
  bottom: 0;
  top: 0;
  margin-bottom: 0;
  border: none;
}

.icons svg {
  margin-right: 10px;
}

.footer-nav p {
  font-size: 2rem;
  padding-left: 60px;
  margin: 0;
}

.footer-nav li {
  display: block;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
}

.footer-nav a {
  text-decoration: none;
}

.footer-nav li a {
  color: #2f2f2f;
}

.footer-nav li a:hover {
  opacity: 1;
  color: #4777e6;
  transition: all ease 0.3s;
}

.footer-nav img {
  width: 50px;
  border-radius: 50%;
}

.currentYear {
  font-size: 1.25rem;
  color: #2f2f2f;
}

/*  MEDIA QUERIES */
@media screen and (max-width: 665px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }
  .CTA {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 565px) {
  .hero h1 {
    font-size: 4.5rem;
  }

  .project-card {
    width: 400px;
  }
  .hero {
    height: auto;
    margin: 50px 0px;
  }
}

@media screen and (max-width: 520px) {
  .hero h1 {
    font-size: 3.5rem;
  }
  .description {
    flex-direction: column;
  }

  nav {
    flex-direction: row;

    gap: 15px;
  }
  nav > ul {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .project-card {
    width: 350px;
  }

  .CTA {
    padding: 60px 30px;
  }
}

@media screen and (max-width: 424px) {
  .hero h1 {
    font-size: 3rem;
  }
}
